CAREER_OPS_APP_NAME=Career-Ops
CAREER_OPS_ENV=local
CAREER_OPS_DATABASE_URL=sqlite:///./career_ops.db
CAREER_OPS_BASE_URL=http://127.0.0.1:8000
CAREER_OPS_SECRET_KEY=change-me
CAREER_OPS_DATA_DIR=./data
CAREER_OPS_LOG_LEVEL=INFO
CAREER_OPS_ENABLE_SCHEDULER=true
CAREER_OPS_FRESHNESS_HOURS=24
CAREER_OPS_RETRY_MAX_ATTEMPTS=3
CAREER_OPS_RETRY_BACKOFF_BASE=1.0
CAREER_OPS_RETRY_JITTER=0.25
CAREER_OPS_SOURCE_RATE_LIMIT_PER_SEC=1.0
CAREER_OPS_SOURCE_TIMEOUT_SECONDS=10
CAREER_OPS_MAX_CONCURRENT_PER_SOURCE=2
CAREER_OPS_CIRCUIT_BREAKER_THRESHOLD=5
CAREER_OPS_CIRCUIT_BREAKER_WINDOW_MINUTES=10
CAREER_OPS_CIRCUIT_BREAKER_COOLDOWN_MINUTES=15
CAREER_OPS_ALLOW_AUTO_SUBMIT=false
CAREER_OPS_PLAYWRIGHT_DRY_RUN_DEFAULT=true
CAREER_OPS_MIN_JOB_DESCRIPTION_LENGTH=80
